@model Hospital.Web.Models.VitalSign
<div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fc" class="control-label"></label>
                <input asp-for="Fc" class="form-control" />
                <span asp-validation-for="Fc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pas" class="control-label"></label>
                <input asp-for="Pas" class="form-control" />
                <span asp-validation-for="Pas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pad" class="control-label"></label>
                <input asp-for="Pad" class="form-control" />
                <span asp-validation-for="Pad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fr" class="control-label"></label>
                <input asp-for="Fr" class="form-control" />
                <span asp-validation-for="Fr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spo2" class="control-label"></label>
                <input asp-for="Spo2" class="form-control" />
                <span asp-validation-for="Spo2" class="text-danger"></span>
            </div>
                 
             <div class="form-group">
                <label asp-for="Temperature" class="control-label"></label>
                <input asp-for="Temperature" class="form-control" />
                <span asp-validation-for="Temperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Glucometry" class="control-label"></label>
                <input asp-for="Glucometry" class="form-control" />
                <span asp-validation-for="Glucometry" class="text-danger"></span>
            </div>