@model Hospital.Web.Models.VitalSign

@{
    ViewData["Title"] = "Add Vital Sign";
}

<h2>Add</h2>

<h4>Vital Sign</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddVitalSign">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPatient" />

            <partial name="_VitalSign" />

            <div class="form-group"> 
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.IdPatient" class="btn btn-success">Back to List</a>
</div>
</form>
</div>

</div>
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

