@model Hospital.Web.Models.Patient

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <partial name="_Patient"/>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-outline-info" />
                <a asp-action="Index" class="btn btn-outline-secondary">Volver</a>
            </div>
        </form>
    </div>
</div>
