@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido!</h1>
    <p>Más de cien años de historia y de avances médicos destacan al Hospital San Vicente Fundación en Colombia y Latinoamérica, 
        que, soportado en sus cerca de 2.350 colaboradores, realiza cada año más de 19.000 cirugías y 120.000 consultas,         
        a través de una amplia gama de especialidades y subespecialidades médicas propias de un centro médico de alto nivel de complejidad.</p>
<p>
Es una de las cinco IPS acreditadas en salud en Antioquia por el ICONTEC por sus altos estándares de calidad.
Cuenta con cinco Unidades Funcionales para la atención integral de pacientes: Trauma, Cirugía y Osteomuscular; Enfermedades Crónicas, Oncología y Neurociencias; 
Enfermedades Digestivas; Cardiopulmonar y Vascular; y Materno Infantil, las cuales se soportan en más de 70 especialidades y subespecialidades médicas.</p>
</div>
