<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/Font-awesome/css/fontawesome.css"/>
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">

</head>
<body class="body">
  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#" style=" color: rgb(41,128,185);"><h2><i class="fa-solid fa-hospital " ></i> Hospital</h2> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
                            <a class=" btn btn-outline-info" asp-area="" asp-controller="Home" asp-action="Index"> <i class="fa-solid fa-house-user"></i> Home</a>
                        </li>
                        
                        @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                        {
                            <li class="nav-item">
                                <a class="btn btn-outline-info" asp-area="" asp-controller="Patients" asp-action="Index"><i class="fa-solid fa-bed-pulse">  </i> Patients</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class=" btn btn-outline-info" asp-area="" asp-controller="Patients" asp-action="Index"><i class="fa-solid fa-bed-pulse">  </i> Patients</a>
                        </li>
                    }

        </ul>
        <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                    <li><a  class=" btn btn-outline-info" asp-area="" asp-controller="Account" asp-action="ChangeUser"> <i class="fa-solid fa-user-nurse"></i> @User.Identity.Name</a></li>
                    <li><a class=" btn btn-outline-info" asp-area="" asp-controller="Account" asp-action="Logout"> <i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a></li>
                     }
                     else
                     {
                     <li><a  class=" btn btn-outline-info" asp-area="" asp-controller="Account" asp-action="Login"><i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
                     }    


                    </ul>
        
      </div>
    </nav>
  </header>

  <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Hospital.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
